.weahter {
  display: block;
  background: #fafafa;
  color: #085f63;
  border: 1px solid #dadde1;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px #dadde1;
  padding: 30px;
  margin: 30px auto;
  max-width: 700px;
  margin-bottom: 15px;
}
.row {
  text-align: left;
  color: #085f63;
  font-size: 30px;
  font-weight: bold;
}
h2 {
  font-weight: bold;
}
h5 {
  font-size: 20px;
  opacity: 0.8;
}

.fa-cloud-sun {
  font-size: 120px;
  color: #ff5959;
}

.fa-sun {
  font-size: 40px;
  color: #facf5a;
}
.fa-cloud-sun-rain {
  font-size: 40px;
  color: #ff5959;
}
.fa-cloud {
  font-size: 40px;
  color: #49beb7;
}
.fa-cloud-showers-heavy {
  font-size: 40px;
  color: #085f63;
}
.fa-cloud-bolt {
  font-size: 40px;
  color: #085f63;
}
.card {
  text-align: center;
  color: #350d36;
}

.centerpik {
  text-align: center;
  font-size: 70%;
}
.discrsption {
  text-transform: capitalize;
}
.text {
  width: 430px;
  height: 36px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #0069d9;
  font-size: 16px;
  font-family: Tahoma;
}
