.weahter {
  display: block;
  background: #fdffab;
  color: #085f63;
  border: 1px solid #dadde1;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px #dadde1;
  padding: 30px;
  margin: 30px auto;
  max-width: 700px;
  margin-bottom: 15px;
}
.row {
  text-align: center;

  font-size: 30px;
  font-weight: bold;
}
h2 {
  font-weight: bold;
}
.h5 {
  font-size: 10px;
  opacity: 0.8;
}
.min {
  opacity: 0.8;
}
.card {
  text-align: center;
  color: #350d36;
}

.discrsption {
  text-transform: capitalize;
  font-size: 20px;
  opacity: 0.8;
}
.wind {
  text-transform: capitalize;
  font-size: 20px;
  opacity: 0.8;
}
.humid {
  text-transform: capitalize;
  font-size: 20px;
  opacity: 0.8;
}
.text {
  width: 430px;
  height: 36px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #0069d9;
  font-size: 16px;
  font-family: Tahoma;
}

.card {
  background: #a8e6cf;
}
